@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
.main{
    position: relative;
    float: left;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: url("../public/cloud.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.highway{
    position: absolute;
    width: 500%;
    left: 0;
    right: 0;
    background: url("../public/raod.jpg") center;
    background-repeat: repeat-x;
    height: 250px;
    bottom: 0;
    background-size: contain;
    z-index: 1;
    animation: road 10s linear infinite;
}
@keyframes road {
    100%{
        transform: translateX(-3400px);
    }
}
.mount{
    position: absolute;
    width: 500%;
    left: 0;
    right: 0;
    background: url("../public/ms.png");
    background-repeat: repeat-x;
    height: 350px;
    bottom: 250px;
    background-size: contain;
    animation: mount 20s linear infinite;
}
@keyframes mount {
    100%{
        transform: translateX(-3400px);
    }
}
.car{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 200px;
    z-index: 2;
    bottom: 80px;
}
.car img{
    width: 100%;
    animation: car 1s linear infinite;
}
@keyframes car {
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(1px);
    }
    0%{
        transform: translateY(-1px);
    }
}
.wheel{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 20px;
    z-index: 3;
    bottom: 80px;
}
.back{
    position: absolute;
    left: -158px;
    bottom: 30px;
    width: 171%;
}
.front{
    position: absolute;
    left: 141px;
    bottom: 34px;
    width: 171%;
}
.wheel img{
    animation: tyre 1s linear infinite;
}
@keyframes tyre {
    100%{
        transform: rotate(360deg);
    }
}
.board{
    font-size: 400%;
    font-family: 'Rubik Storm', cursive;
    font-family: 'Unbounded', cursive;
    position: absolute;
    left: 220px;
    bottom: 467px;
    text-align: center;
    text-shadow: whitesmoke 0.1px 5px 70px;
    background-image: repeating-radial-gradient(circle at center, red 40%, blue);
    /* -webkit-background-clip: text; */
    background-clip: text;
    color: transparent;
}
.arrow{
    position: absolute;
    left: 80%;
    transform: translateX(-50%);
    width: 50px;
    height: 20px;
    bottom: 419px;
}
.start{
    font-size: 190%;
    position: absolute;
    left: 1266px;
    width: 50px;
    height: 20px;
    z-index: 4;
    bottom: 374px;
    transform: rotate(-11deg);
}
.rule{
    font-size: 153%;
    position: absolute;
    left: 1271px;
    width: 50px;
    height: 20px;
    z-index: 4;
    bottom: 327px;
    transform: rotate(8deg);
}
a{
    text-decoration: none;
    color: whitesmoke;
    text-shadow: black 2px 2px 0.1px;
}
